.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


input[type=checkbox]:checked~p {
  text-decoration: line-through;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}